*{
      padding: 0;
      margin: 0;
}
.header{
      background: rgb(149, 0, 255);
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 20px;
      color: white;
}
.list li,a {
      display: inline-flex;
      text-decoration: none;
      font-style: none;
      margin: 6px;
      color: aliceblue;
      font-weight: 600;
      
   

}
a:link{
      color: aliceblue;
}

a:hover {
      color: black ;
      border: 2px solid black;
      border-radius: 15px;
}
a:active{
      font-weight: bold;
      color: rgb(85, 0, 255);
      border:2px solid rgb(85, 0, 255);
}
.header img{
      width: 50px;
      display: inline-block;
}
#search{
      height: 30px;
      border-radius: 50px;

      
}
